@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-col justify-center w-full">

    @* HERO *@
    <div class="flex flex-col background-pathway fade-bg">

    </div>

    @* WHAT IS DISC GOLF *@
    <div class="grid grid-flow-row-dense grid-cols-3 grid-rows-3">
        <div class="">
            <h3 class="text-center">What is Disc Golf</h3>
            Disc golf is played much like golf. Instead of a ball and clubs, though, players use a flying disc or Frisbee®. The sport was formalized in the 1970s and shares with golf the object of completing each hole in the fewest strokes (or, in the case of disc golf, fewest throws).
            A golf disc is thrown from a tee area to a target, which is the "hole." The hole can be one of a number of disc golf targets; the most common is an elevated metal basket. As a player progresses down the fairway, he or she must make each consecutive throw from the spot where the previous throw landed. The trees, shrubs, and terrain changes located in and around the fairways provide challenging obstacles for the golfer. Finally, the "putt" lands in the basket and the hole is completed.
            Disc golf shares the same joys and frustrations of golf, whether it's sinking a long putt or hitting a tree halfway down the fairway. There are a few differences, though: Disc golf is often free to play in public parks, although pay-to-play courses are trending upward; you probably won't need to rent a cart, but converted golf course layouts are also on the rise; and your "tee time" will usually come during tournament competition, not casual play.
        </div>
        <div class="">
            <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Disc_golfer_and_basket.jpg" />
        </div>
    </div>

    

</div>