
.flex-container {
    display: flex;
}

.flex-horizontal {
    flex-direction: column;
}
.flex-vertical {
    flex-direction: row;
}

.parallax {
    /* The image used */
    /*background-image: url("example.jpg");*/
  
    /* Set a specific height */
    min-height: 40vh;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
  }