<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">

        @* Brand *@
        <a class="navbar-brand" href="">TF Disc Golf</a>

        @* Collapse Button *@
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">


                @* Home *@
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                        @*<span class="oi oi-home" aria-hidden="true"></span>*@ Home
                    </NavLink>
                </li>
                @* About *@
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="About">
                        @*<span class="oi oi-plus" aria-hidden="true"></span>*@ About
                    </NavLink>
                </li>
                @* Privacy *@
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Privacy">
                        @*<span class="oi oi-list-rich" aria-hidden="true"></span>*@ Privacy
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav flex-grow-1">

                @* Login *@
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="Login">
                        @*<span class="oi oi-list-rich" aria-hidden="true"></span>*@ Login
                    </NavLink>
                </li>

            </ul>
        </div>
    </div>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}